header p{
    width: 1500px;
    height: 20px;
    background-color: lightgreen;
}

p{
    text-align: center;
}

#titre {
    font-size: 45px;
    color: gold;
    font-family: "Comic Sans MS", sans-serif;
}

body{
    background-color: bisque;
}



label{
    display: block;
    width: 250px;
    float: left;
}

input{
    width: 150px;
    margin: 5px;
    padding: 5px;

}

fieldset{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

p {
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}


body{
    justify-content: space-between;
}


#prix{
    font-size: 25px;
    color: orangered;
}

body{
    margin: 25px;
    font-size: 20px;

}

