table{
    border: 3px solid black;
    border-collapse: collapse;
}

thead{
    font-size: larger;
}

tr, td{
    border:1px solid #ccc;
}

tbody{
    background-color: aliceblue;
}
th{
    text-align: center;
}

.eltDateCmde{
    display: inline-block;
}

.eltNumCmde, .eltDateFact, .eltDateCmde, .eltNumFact, .eltNumClt{
    display: inline-block;
}



header p{
    width: 1500px;
    height: 20px;
    background-color: lightgreen;
}
body{
    justify-content: space-between;
}
p{
    text-align: center;
}

#titre {
    font-size: 45px;
    color: gold;
    font-family: "Comic Sans MS", sans-serif;
}

#prix{
    font-size: 25px;
    color: orangered;
}

body{
    margin: 25px;
    font-size: 20px;

}

footer{
    font-size: 20px;
    color: coral;
    font-weight: bolder;
}