

label{
    display: block;
    width: 250px;
}

input{
    width: 250px;
    margin: 5px;
    padding: 10px;

}

.valider{
    text-align: center;
}


#cadre{
    margin-right: auto;
    margin-left: auto;
    width: 20%;
}
body{
    background-image: url("/img/cyclist-red-jacket.jpg");
    background-repeat: no-repeat;
    font-weight: bolder;
    font-size: 15px;
    color: midnightblue;
}